a {
    color: #2155cd;
    /* a 태그에 대해 color red 적용 */
    text-decoration: solid underline #2155cd 2px; /* Property: Value */
}
.headline{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid grey;
    font-size: 60px;
    text-align: center;
    text-shadow: 6px 2px 2px gray;
    font-weight: bold;
    background-color: #e1f5fe;
}
.bottomgrey{
    border-bottom: 5px solid gray;
}
#grid1{
    display: grid;
    grid-template-columns: 1fr auto;
}
#sitebirth{
    font-family: monospace;
    font-size: 15px;
}
#author{
    font-weight: bold;
    text-align: right;
    width: 200px;
}
#grid2 ol{
    border-right: 3px solid gray;
    margin: 10px;
    width: 100px;
    padding: 30px;
    padding-right: 60px;
}
#pic{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding-left: 20px;
}
img{
    float: left;
    width: 700px;
    height: 450px;
    object-fit: cover;
}
#grid2{
    display: grid;
    grid-template-columns: 200px 3fr 2fr;
}
#html{
    border-left: 3px solid gray;
    padding: 20px;
    margin-right: 50px;
}
@media(max-width: 1200px){
    #grid2{
        display: block;
    }
    #grid2 ol{
    border-right: none;
}